@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.post-editor {
    @include card();

    .btn-save, .btn-cancel {
        @include btn();
        margin-right: 1rem;
    }

    .btn-save {
        background: var(--accent-color);
        color: var(--text-primary-color);
    }

    .btn-cancel {
        background: var(--danger-color);
        color: var(--text-primary-color);
    }
}