@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.post {
    margin: 1rem 0;
    @include card();
    display: block;

    .titulo .descripcion .code .img {
        margin-bottom: 1rem;
    }

    .code {
        padding: 0.5rem;
        border-radius: 5px;
        font-size: 1.3rem;
    }

    .img {
        padding: 0.5rem;
        border-radius: 15px;
        width: 100%
    }

    .btn-edit, .btn-delete {
        @include btn();
        margin: 1rem;
    }

    .btn-edit {
        background: var(--accent-color);
        color: var(--text-color);
    }

    .btn-delete {
        background: var(--danger-color);
        color: var(--text-color);
    }
}