:root {
  --primary-color: #4da899;
  --secondary-color: #532f65;
  --accent-color: #813b63;
  --danger-color: #e03e33;

  --background-color: #050a0a;

  --text-primary-color: #f1f8f7;

  --box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
