@import "../../styles/variables.scss";

.navbar {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    color: var(--accent-color);

    a {
        margin-right: 2rem;
        color: unset;
        font-size: 0.8rem;
    }

    img {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        margin-right: 0.5rem;
    }
}